<div class="composer-container">

  <div class="row">
    <div clas="col-sm-12">
      <table class="table table-bordered">
        <thead class="thead dark">
          <tr>
            <th scope="col">Full Name</th>
            <th scope="col">Genre</th>
          </tr>
        </thead>
        <tbody *ngFor="let composer of composer">
          <tr>
            <td scope="row">{{ composer.fullName }}</td>
            <td scope="row">{{ composer.genre }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
