<div class="composer-container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="align-center">Johann Sebastian Bach - Biography</h3>
    </div>
  </div>

  <div class="row about-composer">
    <div class="col-sm-3">
      <img src="./assets/johann-sebastian-bach.jpg">
      <figcaption>www.biography.com/musician/johann-sebastian-bach</figcaption>
    </div>

    <div class="col-sm-9">
      <p>Born on March 31, 1685, in Eisenach, Thuringia, Germany, Johann Sebastian Bach had a
        prestigious musical lineage and took on various organist positions during the early
        18th century, creating famous compositions.  He came from a family of musicians,
        stretching back several generations.  his father, Johann Ambrosius, worked as the town
        musician in Eisenach, and it is believed that he taught young Johann to play the violin.
        His Lutheran faith would influence his later musical works.  At the age of 10, Bach found
        himself an orphan after the death of both of his parents.  His older brother Johann Christoph,
        a church organist in Ohrdruf, took him in.  Bach had a growing reputation as a great performer,
        and it was his great technical skill that landed him the position of organist at the New Church
        in Arnstadt.  In 1707, Bach was glad to leave Arnstadt for an organist position at the Church of
        St. Blaise in Muhlhausen. His musical style clashed with the church's pastor.  Aft a year in
        Muhlhausen, Bach won the post of organist at the court of the Duke Wilhelm Ernst in Weimar.  In
        1717, Bach accepted a position with Prince Leopold of Anhalt-Cothen.  While at Cothen, Bach devoted
        much of his time to instrumental music, composing concertos for orchestras, dance suites and sonatas
        for multiple instruments.  By 1740, Bach was struggling with his eyesight, but he continued to work
        despite his vision problems.  During his lifetime, Bach was better known as an organist than a composer.
        Few of his works were even published during his lifetime.  Musically, Bach was a master at invoking and
        maintaining different emotions.  He was an expert storyteller as well, often using melody to suggest
        actions or events.  He is considered to be the best composer of the Baroque era, and one of the most
        important figure in classical music in general.

        Reference: https://www.biography.com/musician/johann-sebastian-bach
        </p>
    </div>
  </div>
</div>
