<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="./assets/_danielle-steel-poses-for-a-portrait-in-1994-in-los-angeles-california-photo-by-harry-langdon_getty-images-square.jpg" />
      </div>
      <div>
        <em>
          Photo by Harry Langdon Getty Images on <a class="attribution-link" href="https://www.biography.com/writer/danielle-steel" target="_blank">Biography</a>
        </em>
      </div>
    </div>
  </div>

  <div fxFlex>
    <h1 class="blue">Who is Danielle Steel?</h1>
    <p>
      Danielle Steel has been hailed as one of the world's most popular authors, with over 650
      million copies of her novels sold.  Her many international bestsellers include Accidental Heroes,
      Fall from Grace, Past Perfect, Fairytale, The Right Time, The Duchess, Against All Odds, and other
      highly acclaimed novels.  She is also the author of His Bright Light, the story of her son Nick Traina's
      life and death; A Gift of Hope, a memoir of her work with the homeless; Pure Joy, about the dogs she
      and her family have loved; and the children's books Pretty Minnie in Paris and Pretty Minnie in Hollywood.
    </p>
    <em>Biography by: <a href="https://daniellesteel.com/about-danielle/" target="_blank" class="attribution-link">Danielle Steel</a></em>
  </div>
</div>
