<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="./assets/JRR-Tolkien.jpg" />
      </div>
      <div>
        <em>
          Photo by AP Images on <a class="attribution-link" href="https://www.britannica.com/biography/J-R-R-Tolkien" target="_blank">Britannica</a>
        </em>
      </div>
    </div>
  </div>

  <div fxFlex>
    <h1 class="blue">Who is J.R.R. Tolkien?</h1>
    <p>
      John Ronald Reuel Tolkien (1892-1973) was a major scholar of the English language,
      specializing in Old and Middle English. Twice Professor of Anglo-Saxon (Old English) at the
      University of Oxford, he also wrote a number of stories including most famously The Hobbit (1937)
      and The Lord of the Rings (1954-1955), which are set in a pre-historic era in an invented version
      of our world which he called by the Middle English name of Middle-Earth.He has regularly been condemned
      by the Eng. Lit. establishment, with honourable exceptions, but loved by literally millions of readers
      worldwide. In the 1960s he was taken up by many members of the nascent "counter-culture" largely because
      of his concern with environmental issues. In 1997 he came top of three British polls, organized respectively
      by Channel 4/ Waterstone's, the Folio Society, and SFX, the UK's leading science fiction media magazine,
      amongst discerning readers asked to vote for the greatest book of the 20th century.
    </p>
    <em>Biography by: <a href="https://www.tolkiensociety.org/author/biography/" target="_blank" class="attribution-link">David Doughan MBE</a></em>
  </div>
</div>
